# .ebextensions/01_environment.config
option_settings:
  # Environment variables passed to your container
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"

  # Tell Elastic Beanstalk’s proxy to use nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
